<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>

    <target name="FileLogger"
        xsi:type="AsyncWrapper"
        overflowAction="Block"
        queueLimit="100000"
        batchSize="100000"
        timeToSleepBetweenBatches="1">
      <target name="FileLogger-Nested"
              xsi:type="File"
              fileName="${basedir}/HaulMax.log"
              layout="${message}"
              maxArchiveFiles="10"
              archiveAboveSize="20000000"
              archiveNumbering="Sequence"
              archiveFileName="${basedir}/HaulMax.{#}.log">
      </target>
    </target>

    <target name="CacheLogger"
            xsi:type="AsyncWrapper"
            overflowAction="Block"
            queueLimit="100000"
            batchSize="100000"
            timeToSleepBetweenBatches="1">
      <target name="CacheLogger-Nested"
              xsi:type="File"
              fileName="${basedir}/HaulMaxCacheClient.log"
              maxArchiveFiles="10"
              archiveAboveSize="20000000"
              archiveNumbering="Sequence"
              archiveFileName="${basedir}/HaulMaxCacheClient.{#}.log"/>
    </target>
    
    <target xsi:type="Null" name="Null" layout="${message}" />
  </targets>

  <rules>
    <logger name="FileLogger" minlevel="Debug" writeTo="FileLogger" />
    <logger name="CacheLogger" minlevel="Info" writeTo="CacheLogger" />
  </rules>
</nlog>